<.ticket_list {@assigns} >
  <:search>
  <form class="app-search">
    <div class="input-group border-info">
      <input type="search" class="form-control border-info" placeholder="Search..." id="top-search">

      <button class="btn btn-outline-info" type="submit">
          <i class="fe-search"></i> Buscar
      </button>
    </div>
  </form>
  </:search>
</.ticket_list>